.task-card {
    padding: 8px;
    font-size: 20px;
    border: 1px solid rgb(168, 164, 164);
    border-radius: 8px;

    >.task-input {

        /* background-color:red; */
        /* font-size:50px; */
        &:focus {
            outline: none;
        }

    }
}