.task-blocks {
    display: flex;
    gap: 16px;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 24px;
    padding-top: 16px;
    max-width: 100%;
    height: 100%;
    max-height: calc(100vh - 56px);
    /* account for header height */
    scrollbar-width: thin;
    scrollbar-color: var(--primary) transparent;
}

/* Beautiful custom scrollbar for webkit browsers */
.task-blocks::-webkit-scrollbar {
    height: 8px;
}

.task-blocks::-webkit-scrollbar-track {
    background: transparent;
    margin: 24px;
}

.task-blocks::-webkit-scrollbar-thumb {
    background: var(--primary);
    background: linear-gradient(to right, oklch(0.21 0.034 264.665 / 0.2), oklch(0.21 0.034 264.665 / 0.5));
    border-radius: 20px;
    border: 2px solid transparent;
    background-clip: content-box;
}

.task-blocks::-webkit-scrollbar-thumb:hover {
    background: var(--primary);
    background: linear-gradient(to right, oklch(0.21 0.034 264.665 / 0.5), oklch(0.21 0.034 264.665 / 0.8));
    background-clip: content-box;
}